.party-panel {
	background-color: #CCDDCC;
	width: 400px;
	/*clear: both;*/
}

.banner-image {
	width: 80px;
	height: 80px;
	float: left;
	margin: 10px;
}

.party-info {
	/*float: left;*/
	list-style-type: none;
	padding: 0;
	margin: 0;
}
