html{

font-family: 'Slabo 27px', serif;}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
nav ul {
    font-weight: bolder;
	background: black; 
	padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
    text-align: center;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}
	
nav ul li:hover {
		background:white;
        
	}
		
nav ul li:hover a {
			color: black;
		}
	
nav ul li a {
		display: block;
        padding: 10px;
		color: white;
        font-size: 1.5em;
        text-decoration: none;
	}
nav ul ul {
	background: #5f6975; 
    border-radius: 0px; 
    padding: 0;
	position: absolute; 
    top: 100%;
}
nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a; 
		position: relative;
	}
nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
nav ul ul li a:hover {
				background: #4b545f;
			}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}