.calender-pane > p {
    padding: 2em 0;
}

.party-panel {
    float: left;
    width: 25%;
    margin-bottom: 1em;
    text-align: left;
}

    .party-panel strong {
        font-weight: bold;
    }

iframe {
    margin-top: 2em;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 8px;
    margin-top: 30px;
}

.party-banner {
    width: 120px;
    height: 120px;
}

.party-banner-large {
    margin-top: 3em;
    width: 100%;
}

@media only screen and (max-width:1200px) {
    .party-panel {
        width: 33.333333333%;
    }
}

@media only screen and (max-width:700px) {
    .party-panel {
        width: 50%;
    }
}

@media only screen and (max-width:400px) {
    .party-panel {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}
