html {
    background: url(../img/background-full.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Slabo 27px', serif;
}

.main-container {
    max-width: 1200px;
    width: 80%;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 50px #000;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't
	support rgba */
    background: rgba(255, 255, 255, .5);
}

img.logo {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto/9;
    width: auto/9;
}

img.logophone {
    display: none;
    margin: auto;
    max-width: 100%;
    height: auto/9;
    width: auto/9;
    padding-top: 2em;
}

.main-nav ul ul {
    display: none;
}

.main-nav ul li:hover ul {
    display: block;
}

.main-nav {
    background-color: black;
    /*margin-bottom: 2em;*/
}

    .main-nav ul {
        font-weight: bolder;
        background: black;
        list-style: none;
        position: relative;
        display: inline-block;
        text-align: center;
    }

        .main-nav ul:after {
            content: "";
            clear: both;
            display: block;
        }

        .main-nav ul li {
            float: left;
        }

            .main-nav ul li:hover {
                background: white;
            }

                .main-nav ul li:hover a {
                    color: black;
                }

            .main-nav ul li a {
                display: block;
                padding: 0.5em;
                color: white;
                font-size: 1.5em;
                text-decoration: none;
            }

        .main-nav ul ul {
            background: black;
            padding: 0;
            position: absolute;
            top: 100%;
        }

            .main-nav ul ul li {
                float: none;
                border-top: 1px solid #6b727c;
                border-bottom: 1px solid #575f6a;
                position: relative;
            }

                .main-nav ul ul li a:link {
                    padding: 15px 40px;
                    color: white;
                }

                .main-nav ul ul li a:visited {
                    padding: 15px 40px;
                    color: white;
                }

                .main-nav ul ul li a:hover {
                    background: white;
                    color: black;
                }

            .main-nav ul ul ul {
                position: absolute;
                left: 100%;
                top: 0;
            }

.content-container {
    text-align: center;
    padding: 10px;
}

.contact {
    display: block;
    line-height: 150%;
    font-size: .85em;
}

.main-footer {
    clear: both;
    color: white;
    padding: 10px 0;
    font-size: 1.2em;
    text-align: center;
    background: rgb(204, 122, 41);
    background: rgba(204, 122, 41, 1);
}

.small-nav {
    width: 100%;
    background: #000;
    cursor: pointer;
    display: none;
    position: fixed;
}

.hamburger {
    border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #fff;
    margin-left: 45%;
}

    .hamburger div {
        background-color: #000;
        border: 1px solid #000;
        border-radius: 2px 2px 2px 2px;
        height: 2px;
        margin-top: 3px;
        width: 90%;
    }

.inputfield {
    display: inline-table;
    margin-top: 1em;
}

.labels {
    text-align: center;
}

    .labels label {
        padding-top: 1.2em;
        display: inline-block;
        width: 100%;
    }

    .labels input {
        margin-top: 0;
    }

.divTable {
    margin: 0 auto;
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 0.5em;
}

.divRow {
    display: table-row;
    width: auto;
}

.divCell {
    float: left;
    display: table-column;
    width: 200px;
    background-color: #ccc;
}

b {
    font-weight: bold;
}

.party-banner-large {
    max-width: 60%;
    max-height: auto;
}

h1.links {
    font-weight: bold;
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    cursor: pointer;
}

.split-wet {
    width: 60%;
}

.legend-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-decoration: underline;
}

@media only screen and (max-width:1200px) {
    .labels input {
        width: auto;
    }

    .main-nav ul, .main-nav {
        text-align: center;
    }

        .main-nav > ul > li > a {
            position: relative;
            font-size: 1.5em;
        }

    .small-nav {
        display: none;
    }

    .groot-nav {
        display: inline;
    }

    .main-nav ul li:hover ul {
        display: block;
    }

    img.logophone {
        display: none;
    }
}

@media only screen and (min-width: 401px) {
    .main-nav ul, .main-nav {
        text-align: center;
    }
}

@media only screen and (max-width:700px) {
    .labels input {
        width: auto;
    }

    .main-nav > ul > li > a {
        position: relative;
        font-size: 1em;
    }

    img.logo {
        display: block;
    }

    .small-nav {
        display: none;
    }

    .groot-nav {
        display: inline;
    }

    .main-nav ul li:hover ul {
        display: block;
    }

    img.logophone {
        display: none;
    }
}

@media only screen and (max-width:400px) {
    .labels input {
        width: 90%;
    }

    .main-nav {
        position: fixed;
        width: 100%;
    }

        .main-nav > ul > li > ul > li > a {
            font-size: 0.7em;
        }

        .main-nav > ul > li {
            font-size: 0.8em;
            width: 100%;
        }

    .main-container {
        margin: 0 0;
        width: 100%;
    }

    .content-container {
        padding: 2px;
    }

    .small-nav {
        display: block;
    }

    .groot-nav {
        display: none;
        margin-top: 2em;
    }

    img.logo {
        display: none;
    }

    .main-nav ul li:hover ul {
        display: none;
    }

    img.logophone {
        display: block;
    }
}
